@charset "UTF-8";body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-weight: 400;
    font-style: normal
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

img,img a {
    border: none
}

.nav {
    position: fixed;
    width: 500px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: -250px;
}

.nav li {
    display: inline;
    margin: 10px;
    list-style-type: none;
}

.nav li img {
    height: 15px;
    width: 15px;
    opacity: .7;
}

.nav li img:hover {
    opacity: 1;
}

#vitesselumière {
    position: fixed;
    width: 120px;
    height: 50px;
    top: 80%;
    left: 98%;
    margin-left: -80px;
    font-family: gotham ssm a,gotham ssm b,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: #aaa;
}

#vitesselumière a {
    opacity: .7;
    color: #aaa;
    text-decoration: none;
}

#vitesselumièremsg > div {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#msg1,#msg2,#msg3,#msg4,#msg5 {
    display: none;
    position: absolute;
    text-align: right;
    right: 0;
    top: 6px;
}

#vitesselumière img {
    height: 44px;
    width: 44px;
}

.containerlumière {
    position: relative;
    top: -18px;
}

#navblocker {
    position: absolute;
    background-color: #000;
    height: 99%;
    width: 2000px;
    margin-left: 200px;
    z-index: 1;
}

.containerplanet {
    position: relative;
    top: 40%;
}

#espace {
    position: absolute;
    left: 1400px;
    background-color: #000;
    background-repeat: repeat-x;
    background-position: left bottom;
    width: 1702774px;
    height: 99.9%;
}

.labeltext {
    position: absolute;
    font-family: gotham ssm a,gotham ssm b,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3em;
    color: #eaeaea;
    text-transform: uppercase
}

#containersoleil {
    left: -200px;
    position: absolute;
    top: -150px;
    z-index: 2
}

#soleil {
    position: relative;
    height: 400px;
    width: 400px;
    fill: #fde301
}

#soleiltxt {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    top: 184px;
    color: #000;
    font-size: 2em
}

#mercure {
    position: absolute;
    left: 16666px;
    height: 4px;
    width: 4px;
    fill: #fc0
}

#merctxt {
    left: 16462px;
    padding-left: 200px;
    margin-top: 0.25em;
    color: #fc0
}

#venus {
    position: absolute;
    left: 31138px;
    height: 16px;
    width: 16px;
    fill: #86ffca
}

#venustxt {
    left: 30935px;
    color: #86ffca;
    padding-left: 200px;
    margin-top: 0.5em;
}

#terre {
    position: absolute;
    left: 43053px;
    height: 12px;
    width: 12px;
    fill: #01fdfa
}

#terretxt {
    left: 42850px;
    color: #01fdfa;
    padding-left: 200px;
    margin-top: 0.5em;
}

#lune {
    position: absolute;
    left: 43164px;
    height: 4px;
    width: 4px;
    fill: #fff
}

#lunetxt {
    margin-top: -2em;
    left: 43160px;
    color: #fff;
    font-size: 2em;
}

#mars {
    position: absolute;
    left: 65586px;
    height: 8px;
    width: 8px;
    fill: #ff7443
}

#marstxt {
    left: 65383px;
    color: #ff7443;
    padding-left: 200px;
    margin-top: 0.25em;
}

#jupiter {
    position: absolute;
    left: 224041px;
    height: 160px;
    width: 160px;
    fill: #ffa043
}

#jupitertxt {
    top: 44px;
    left: 223600px;
    color: #ffa043;
    padding-left: 200px;

}

#saturne {
    position: absolute;
    left: 412397px;
    height: 180px;
    width: 220px;
    fill: #ffa043
}

#saturnetxt {
    top: 44px;
    left: 411950px;
    color: #f9d293;
    padding-left: 200px
}

#uranus {
    position: absolute;
    left: 827961px;
    height: 56px;
    width: 56px;
    fill: #18e6ff;
}

#uranustxt {
    top: 28px;
    left: 827763px;
    color: #18e6ff;
    padding-left: 200px;
    margin-top: 2.5em;
}

.essai {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top : 10em;
}

#neptune {
    position: absolute;
    left: 1295901px;
    height: 56px;
    width: 56px;
    fill: #45b9ff
}

#neptunetxt {
    top: 24px;
    left: 1295703px;
    color: #45b9ff;
    padding-left: 200px;
    margin-top: 2.5em;
}

#pluton {
    position: absolute;
    left: 1699774px;
    height: 4px;
    width: 4px;
    fill: #d9f5ff
}

#plutontxt {
    top: 17px;
    left: 1699570px;
    color: #d9f5ff;
    padding-left: 200px;
    margin-top: 1.5em;
}

#vaisseau {
    background-image: url(img/rocket-312767_960_720.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-left: 20em;
    transform: rotate(45deg);
}

p{
    font-size: 12px;
}
.textContainer {
    position: relative;
    height: 20px; /* Ajustez la hauteur selon vos besoins */
    margin-bottom: 50px;
  }
  
  .textContainer p {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation-duration: 15s; /* Ajustez la durée selon vos besoins */
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutText {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .textContainer p:nth-child(1) {
    animation-name: fadeInText, fadeOutText; /* Animation d'apparition et de disparition */
    animation-delay: 0s;
  }
  
  .textContainer p:nth-child(2) {
    animation-name: fadeInText, fadeOutText; /* Animation d'apparition et de disparition */
    animation-delay: 5s; /* Décalage de 3 secondes pour le deuxième élément */
  }
  
  .textContainer p:nth-child(3) {
    animation-name: fadeInText, fadeOutText; /* Animation d'apparition et de disparition */
    animation-delay: 10s; /* Décalage de 6 secondes pour le troisième élément */
  }
